<div *ngIf="collection">
  Collection {{ collection.collection_name }}
</div>

<div class="flex flex-wrap">
  <div *ngFor="let im of images"
       [style.width.px]="thumbSizePx"
       class="pl2 pr2">
    <app-image-thumb
      [imageId]="im.image_id">
    </app-image-thumb>
  </div>

  <div *ngFor="let f of toUpload; index as i"
       [style.width.px]="thumbSizePx"
       class="pl2 pr2 flex items-center justify-center">
    <app-file-upload-info
      [file]="f"
      (onCreate)="imageAdded($event)"
      (onDelete)="fileDeletedi">
    </app-file-upload-info>
  </div>

  <div [style.width.px]="thumbSizePx"
       style="min-height: 250px;"
       class="pl2 pr2 flex justify-center items-center clickable">
    <app-file-upload-btn
      text="ADD AN IMAGE"
      (onFile)="onNewImage($event)">
    </app-file-upload-btn>
  </div>

</div>
