<div *ngIf="collection"
     class="flex justify-between pl3 pr3">
  <div>
    {{ collection.collection_name }}
  </div>
  <div class="flex">
    <div class="clickable"
         (click)="navToView()">
      BACK TO VIEW
    </div>
    <div class="clickable pl4"
         *ngIf="orderingChanged"
         (click)="saveOrderChange()">
      SAVE CHANGES TO ORDER
    </div>
  </div>
</div>

<div class="flex flex-column items-center image-list w-100 pl2 pr2"
     cdkDropList
     (cdkDropListDropped)="imageDrop($event)">
  <div *ngFor="let im of images"
       cdkDrag
       class="pl2 pr2 pb2 pt2 image-row flex movable w-100">


    <div class="clickable control-icon delete-icon"
         (click)="promptDelete(im.image_id)">
      <mat-icon [inline]="true">
        clear
      </mat-icon>
    </div>
    <div class="clickable control-icon edit-icon"
         (click)="editImageDesc(im.image_id)">
      <mat-icon [inline]="true">
        edit
      </mat-icon>
    </div>

    <div class="image-container">
      <app-image-thumb
        [imageId]="im.image_id">
      </app-image-thumb>
    </div>
    <div class="flex h-100 items-center">
      {{ im.description }}
    </div>
  </div>

  <div *ngFor="let f of toUpload; index as i"
       class="pl2 pr2 pb2 pt2 flex items-center justify-center image-row w-100">
    <app-file-upload-info
      [file]="f"
      (onCreate)="imageAdded(i, $event)"
      (onDelete)="uploadFinished(i)">
    </app-file-upload-info>
  </div>

  <div class="w-100 flex justify-center items-center image-row">
    <app-file-upload-btn
      text="ADD AN IMAGE"
      (onFile)="onNewImage($event)">
    </app-file-upload-btn>
  </div>

</div>
