<div *ngIf="collection"
     class="flex justify-between pl3 pr3">
  <div>
    {{ collection.collection_name }}
  </div>
  <div class="clickable"
       [routerLink]="origCollectionLink"
       [queryParams]="{collectionId: collectionId}">
    VIEW COLLECTION
  </div>
</div>

<div class="flex flex-wrap">
  <div *ngFor="let im of images"
       [style.width.px]="thumbSizePx"
       class="pl2 pr2 pb2 pt2">
    <div class="clickable"
         (click)="editImageDesc(im.image_id)">
      <app-image-thumb
        [imageId]="im.image_id">
      </app-image-thumb>
    </div>
  </div>

  <div *ngFor="let f of toUpload; index as i"
       [style.width.px]="thumbSizePx"
       class="pl2 pr2 pb2 pt2 flex items-center justify-center">
    <app-file-upload-info
      [file]="f"
      (onCreate)="imageAdded(i, $event)"
      (onDelete)="uploadFinished(i)">
    </app-file-upload-info>
  </div>

  <div [style.width.px]="thumbSizePx"
       style="min-height: 250px;"
       class="pl2 pr2 pb2 pt2 flex justify-center items-center clickable">
    <app-file-upload-btn
      text="ADD AN IMAGE"
      (onFile)="onNewImage($event)">
    </app-file-upload-btn>
  </div>

</div>
