<div class="flex flex-column justify-center h-100 w-100"
     style="position: relative;"
     *ngIf="file">

  <div class="h-100"
       *ngIf="isLoaded">
    <app-image-thumb
      [imageId]="imageId">
    </app-image-thumb>
  </div>

  <div class="w-100 flex items-center justify-center">
    <mat-progress-spinner
      *ngIf="!isLoaded"
      mode="determinate"
      [value]="percentDone">
    </mat-progress-spinner>
  </div>


  <div class="control-icon clickable"
       (click)="deleteImage()">
    <mat-icon [inline]="true"
              class="scale-150">
      clear
    </mat-icon>
  </div>
</div>
