<div *ngIf="collection">
  <div class="flex justify-between">
    <div>{{ collection.collection_name }}</div>
    <div class="clickable"
         [routerLink]="EDIT_ROUTE_LINK"
         [queryParams]="{collectionId: collectionId}">
      EDIT
    </div>
  </div>

  <div *ngFor="let image of images"
       class="flex justify-center">
    <div>
      <img [style.maxHeight.px]="windowHeight"
           [src]="image.full_url" />

      <div class="mb6">
        {{ image.description }}
      </div>
    </div>

  </div>
</div>
