<div *ngIf="collection">
  <div class="f2 pl3">
    {{ collection.collection_name }}
  </div>

  <div class="flex flex-wrap items-center justify-center h-100">
    <div *ngFor="let image of images; index as i">
      <div class="flex flex-column pl3 pr3">

        <div *ngIf="!image.full_url"
             class="flex items-center justify-center w-100"
             [style.height.px]="windowHeight">
          LOADING...
        </div>
        <img [style.maxHeight.px]="windowHeight"
             [src]="image.full_url"
             (load)="imageLoaded(i)"/>
        <div class="mb6"
             style="white-space: pre-wrap;">
          {{ image.description }}
        </div>

      </div>
    </div>
  </div>

</div>
