<div class="flex flex-column justify-between h-100">
  <div>
    <form
      class="container"
      [formGroup]="collectionForm">

      <label>Collection Name:</label>
      <input
        matInput
        type="text"
        formControlName="collectionName"/>

    </form>

    <div class="pt4">
      <app-file-upload-info
        *ngFor="let f of files; index as i"
        [file]="f"
        (onId)="imageAdded($event)"
        (onDelete)="fileDeleted(i)">
      </app-file-upload-info>

      <app-file-upload-btn
        class="pt4"
        text="ADD AN IMAGE"
        (onFile)="onFile($event)">
      </app-file-upload-btn>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="clickable"
         (click)="submit()">SUBMIT</div>
  </div>
</div>
