<div class="flex flex-column justify-between items-between h-100 w-100">

  <form
    class="pb2 w-100"
    [formGroup]="collectionForm">
    <mat-form-field
      class="w-100">
      <input
        id="collection-name"
        matInput
        matNativeControl
        type="text"
        placeholder="Collection Name"
        formControlName="collectionName"/>
    </mat-form-field>
  </form>
  <div class="pb4 flex justify-center">
    Upload images here.  Don't worry about ordering them, you can arrange them later on.
  </div>

  <div class="pb2 w-100 h-90 flex flex-flow">
    <div class="grid-cell"
         *ngFor="let f of files; index as i">
      <app-file-upload-info
        class="w-100"
        [file]="f"
        (onId)="imageAdded($event)"
        (onDelete)="fileDeleted(i)">
      </app-file-upload-info>
    </div>

    <div class="grid-cell">
      <app-file-upload-btn
        class="pt4"
        text="ADD AN IMAGE"
        (onFile)="onFile($event)">
      </app-file-upload-btn>
    </div>
  </div>

  <div class="flex justify-end pt2">
    <button mat-button
            [disabled]="collectionForm.status !== 'VALID'"
            (click)="submit()">
      SUBMIT
    </button>
  </div>
</div>
