<div class="flex flex-column w-100 h-100">

  <form
    class="flex flex-column items-center w-100"
    [formGroup]="userForm"
    (ngSubmit)="createUser()">

    <div *ngIf="userForm.controls['username'].errors"
         class="error-msg">
      {{ userForm.controls['username'].errors.errorMsg }}
    </div>

    <mat-form-field class="w-100">
      <label matLabel
             for="username">
        Username
      </label>
      <input
        id="username"
        matInput
        matNativeControl
        type="text"
        formControlName="username" />
    </mat-form-field>

    <mat-form-field class="w-100">
      <label matLabel
             for="password">
        Password
      </label>
      <input
        id="password"
        matInput
        type="password"
        formControlName="password"/>
    </mat-form-field>

    <mat-form-field class="w-100">
      <label matLabel
             for="confirm-password">
        Confirm Password
      </label>
      <input
        id="confirm-password"
        matInput
        type="password"
        formControlName="confirmPassword"/>
    </mat-form-field>

    <div class="w-100 flex justify-end">
      <button
        type="submit"
        mat-button>
        SUBMIT
      </button>
    </div>

  </form>
</div>
