/* You can add global styles to this file, and also import other style files */
@import "variables.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* height */
.topbar-height {
  height: var(--topbar-height);
}
.pane-height {
  height: calc(100% - var(--topbar-height));
}
.pane-min-height {
  min-height: calc(100% - var(--topbar-height));
}

.clickable {
  cursor: pointer;
}


.movable {
  cursor: move;
}
